@model OncoFundingUtilities.ViewModels.CustomerDetail

@{
    ViewBag.Title = "GetCustomer";
}

<h2>GetCustomer</h2>

<style>
    table, th, td {
        border: 1px solid black;
        margin-top: 25px;
    }
</style>


@Html.DisplayFor(m => m.Id);

